.SellSectionInfo{
	width: 100%;
	height: auto;
	background: #DEC23D;
	display: flex;
	justify-content: center;
	flex-direction: column;
	/* align-items: center; */
	gap: 5%;
}
.uniqueInfo {
	background: #fff;
	width: 350px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 75px;
	font-weight:900;
}
.SellSectionInfo > h5{
	font-size: 45px;
	font-weight:900;
} 
.SellSectionInfo > p{
	font-size: 25px;
}
.SellSectionButton{
	width: 200px;
	height: 60px;
	background: #000;
	color: #fff;
	font-size: 23px;
	border-radius: 10px;
}