.arrivalsLists{
	width: 500px;
	height: 450px;
	list-style: none;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.arrivalsLists >img {
	width: 70%;
	height: 75%;
	background-size: cover;
	border-radius: 5px;
	background-position: center;
}